.second {
	height: 460px;
	width: 100%;
	display: flex;
}

.second-left {
	height: 100%;
	width: 430px;
	background-image: url("../images/Photo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.second-right {
	height: 100%;
	width: 1040px;
	background-image: url("../images/Photo_2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
}

.second-right-transparent {
	height: 100%;
	width: 43%;
	background: rgba(0, 0, 0, 0.7);
	float: left;
	text-align: left;
	padding: 200px 80px;
}

.second-right-transparent span {
	color: #FFF;
	font-size: 36px;
	font-weight: bold;
}

.second-right button {
	transform: rotateZ(-90deg);
	position: relative;
	left: 320px;
	top: 210px;
}
