@import 'normalize.css';
@import 'top.css';
@import 'second.css';
@import 'features.css';
@import 'vision.css';
@import 'flying.css';
@import 'journey.css';
@import 'footer.css';

:root{
  --color_top_right: #EC4946;
  --color_top_left: #EFF2F6;
}

* {
  box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 0 20px;
}
