.vision{
	height: 470px;
	width: 100%;
	display: flex;
}

.vision-left{
	height: 100%;
	width: 50%;
	background-image: url("../images/Photo_3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.vision-right{
	height: 100%;
	width: 50%;
	background: #232323;
}

.vision-right h2 {
	color: #FFF;
	position: absolute;
	width: 480px;
	font-size: 54px;
	margin: 130px 120px;
	font-weight: 600;
	letter-spacing: 1px;
}

.vision-right button {
	position: absolute;
	margin: 280px 120px;
}

.vision-logo {
	height: 408px;
	width: 237px;
	float: right;
	margin-top: 38px;
	background-image: url("../images/Icon.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}
